.main-page {
    min-height: 100vh;
    position: relative;
}

.main-content {
    width: 80vw;
    max-width: 1300px;
    margin: 0 auto;
}

.main-header {
    background: lighten($color-primary-500, 10%);
    color: $color-neutral-200;
    padding: 15px;
}

.main-footer {
    background: $color-neutral-300;
    color: $color-neutral-100;
    padding: 15px;
    margin-top: 30px;
    color: $color-neutral-700;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-title {
    font-weight: 700;
    text-transform: uppercase;
}