.not-found-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.not-found-icon-wrapper {
    position: relative;
}

.not-found-content {
    text-align: center;
    line-height: 1.5;
    margin: 30px 0;
    font-weight: 500;
    p:last-child {
        font-size: 1rem;
        font-weight: 300;
    }
}

.code {
    font-size: 6rem;
    font-weight: 700;
    color: $color-primary-500;
    position: absolute;
    top: 150px;
    left: 100px;
}

.link {
    color: $color-primary-500;
    padding: 10px 30px;
    font-size: 1.3rem;
}