$color-neutral-1000: black;
$color-neutral-900: #2D2F30;
$color-neutral-800: #383B41;
$color-neutral-700: #40434B;
$color-neutral-600: #9DA5B0;
$color-neutral-500: #A5ADBB;
$color-neutral-400: #C1C7D0;
$color-neutral-300: #EBECF0;
$color-neutral-200: #F4F5F7;
$color-neutral-100: white;

$color-primary-100: #f1faee;
$color-primary-300: #a8dadc;
$color-primary-500: #457b9d;
$color-primary-700: #1d3557;

$color-secondary-500: #e63946;

$font-primary: 'Roboto', sans-serif;

$bp-tablet: 768px;